<div>
    <h2>MyTable Direcitve Template</h2>
    <h4>{{vm.message}}</h4>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th ng-repeat="key in vm.headings">{{key}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="emp in vm.empData">
                <td>{{($index+1)}}</td>
                <td>{{emp.firstName}}</td>
                <td>{{emp.lastName}}</td>
                <td>{{emp.salary}}</td>
            </tr>
        </tbody>
    </table>
</div>